.h1, .h2, .h3, h1, h2, h3 {
    margin-top: 20px;
    margin-bottom: 30px;
}
.omg{

    image-orientation: flip;
}
img.slider-photo {

    height: 200px !important;


}


.mySlides {
    display: none;
}

.product-img {
    object-fit: contain;
    height: 200px !important;
}

.product-item {

}

.product-item {

    float: left;
    width: 25%;
}

.wrape {

    margin: 30px;
}

.detail-img {
    padding: 10px;

    height: 220px;
}

.search-box {
    width: 500px !important;

}

.list-divider {

    border-bottom: 1px solid #ccc;
    margin-bottom: 20px;
    padding-bottom: 20px;
}

.footer {
    text-align: center;
    padding: 10px;
}

.dop {
    margin-bottom: 20px;

}

.passd {

    margin-bottom: 20px;

}

.center {
    margin-left: 53px;

    margin-top: 10px;
}

h1 {
    color: #cccccc;
    text-align: center;
}